/* Not sure if I'd have time to set up a postcss or not*/

/* COLORS */
:root {
  --light-gray: #ebedee;
  --white: #ffffff;
  --blue: #5687bd;
  --dark-gray: #454d53;
  --gray: #98a0a9;
  --light-gray: #ebedee;
}

body {
  background: var(--white);
  display: flex;
  flex-direction: column;
  font-family: sans-serif !important;
  font: var(--dark-gray);
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
  opacity: 0.7;
  padding: 10px;
}

h2 {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  padding: 11px;
}

h3 {
  font-size: 0.8em;
  font-weight: 400;
  margin: 0;
  padding: 0 0 10px 10px;
}

/* NAVBAR */
.header {
  align-items: flex-end;
  border-bottom: 1px solid var(--light-gray);
  display: flex;
  height: 50px;
  justify-content: center;
  padding-bottom: 5px;
  text-align: left;
  width: 100%;
}

.breadcrumb-1 {
  flex-shrink: 1;
  margin-left: 10px;
}

.breadcrumb-2 {
  flex-grow: 1;
  color: var(--gray);
  margin: 0 auto;
}

.btn-icon {
  background: transparent;
  border: none;
  cursor: pointer;
  height: 40px;
  margin: 5px;
  width: 40px;
}

.btn {
  background: var(--blue);
  border-radius: 3px;
  border: none;
  color: var(--white);
  cursor: pointer;
  font-size: 0.9em;
  height: 40px;
  width: 70px;
}

/* WIDGET */
.widget {
  flex: 1 1 auto;
  display: flex;
}

.sidebar {
  border-right: 1px solid var(--light-gray);
  margin-top: 10px;
  padding: 25px 15px;
  width: 220px;
}

.stage-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.stage {
  align-items: center;
  display: flex;
  font-size: 0.8em;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.active .circle {
  border: 2px solid var(--blue);
  color: var(--blue);
}

.disabled {
  color: var(--light-gray);
}
.disabled .circle {
  border-color: var(--light-gray);
  color: var(--light-gray);
}

.text-link {
  flex: 0 0 auto;
  color: var(--blue);
  font-size: 0.8em;
  font-weight: 300;
  padding: 0 0 5px 34px;
}

.btn-link {
  cursor: pointer;
}

.object-page {
  background: var(--light-gray);
  flex: 1 1 auto;
  padding: 25px;
}

.service-card {
  align-items: center;
  background: var(--white);
  border-radius: 3px;
  box-shadow: 5px 5px 5px var(--light-gray);
  display: flex;
  margin-bottom: 20px;
  padding: 15px;
}

.card-body {
  flex: 1 1 auto;
}

.card-actions {
  flex: 1 1 auto;
  max-width: 100px;
  text-align: center;
}

/* ICONS */

.circle {
  background: transparent;
  border-radius: 50%;
  border: 2px solid var(--dark-gray);
  height: 12px;
  line-height: 1em;
  margin: 0 5px;
  padding: 3px;
  text-align: center;
  width: 12px;
}

.icon-close {
  cursor: pointer;
  position: absolute;
  right: 40px;
  top: 20px;
}
.icon-close:before,
.icon-close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 15px;
  width: 2px;
  background: var(--dark-gray);
}
.icon-close:before {
  align-items: stretch;
  transform: rotate(45deg);
}
.icon-close:after {
  transform: rotate(-45deg);
}
