<div class='header'>
  <h1 class='breadcrumb-1'>Request an Appointment</h1>
  <h2 class='breadcrumb-2'>The Therapy Center</h2>
  <button data-test-close-button class='btn-icon' type='button'>
    <span class='icon-close'></span>
  </button>
</div>
